<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>За създателя</title>

    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <video autoplay muted loop>
        <source src="video/plexus.mp4">
    </video>

    <div id="global-grid-container">

        <nav>
            <iframe src="/menu.html"></iframe>
        </nav>

        <div id="content">
            <h1>
                За създателят
            </h1>

            <p>
                Създателят на SEPience, Симеон Петков, на 13 години, ученик в 8 клас на ЧПГДН СофтУни Светлина и студент в
                СофтУни.
                С интереси от елементарните частици до програмирането, 3D моделирането и анимацията.
                Участник в школата по експериментална физика на Софийски университет „Св. Климент
                Охридски“ с ръководител доц. дфн Цветан Велинов.
                Убеден е, че всеки ученик трябва да има достъп до безплатни симулации, с които да изучава
                природните науки. Защото, както казва Леонардо да Винчи, опитът – това е истинският учител.
                „Впечатлен съм от важността на действието. Знаенето не е достатъчно, трябва да го прилагаме.
                Готовността не е достатъчна, трябва да го направим”, твърди един от най-гениалните умове на
                човечеството.
                Именно за това Симеон вярва, че SEPience може да се превърне в неизменна част от
                образователния процес в България.
            </p>
        </div>
    </div>
</body>
</html>