<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <iframe src="/menu.html"></iframe>

    <div id="content">
        <main>
            <header>
                <h1><i>Опитай, за да разбереш!</i></h1>
            </header>

            <p>
                SEPience е платформа, която ще ви помогне да експериментирате, учите и провокирате въображението си.
                Създадена с образователна цел, SEPience позволява да свалите симулациите и да качвате свои.
                Ще бъде полезна за учители, които искат да онагледят учебния материал, да направят часовете по-интересни, а
                опитите – по-разбираеми.
                Ще бъде полезна за ученици, които искат да видят невидимото в експериментите. Ще бъде възможност сами да
                правят експерименти във виртуална среда.
                Ще бъде полезна за студенти, докторанти и университетски преподаватели, които ще могат да покажат красотата
                на науката и работата си по един различен начин.
                SEPience ще бъде полезна платформа за всички, които търсят ресурси за обучение.
                <i>Опитай, за да научиш! Опитай, за да разбереш!</i>
            </p>

            <section id="img-grid-container">
                <img class="img-grid" id="img-1" src="/images/screenshots/1.png">
                <img class="img-grid" id="img-2" src="/images/screenshots/2.png">
                <img class="img-grid" id="img-3" src="/images/screenshots/3.png">
                <img class="img-grid" id="img-4" src="/images/screenshots/4.png">
                <img class="img-grid" id="img-5" src="/images/screenshots/5.png">
            </section>
        </main>
    </div>
</body>
</html>