<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<iframe src="/menu.html"></iframe>

<div id="content">
    <h1><i>Какво е симулация?</i></h1>
    <p>
        Понякога дори наглед прости неща са трудни за обяснение и разбиране. Защото не са толкова прости.
        Симулациите позволяват да се анализират динамични системи, които са прекалено комплексни за теоретично
        тълкуване или представяне с формули.
        При симулациите се провеждат експерименти, базирани на опростени модели. Това позволява да се получат
        резултати и знания за същността на системата.
        Симулаторът, който ще използвате, е абстракция на това, което се случва в симулационната система. Работата
        на симулатора е с конкретни стойности, които може да променяте в симулационния експеримент.
        В SEPience можете вие да посочите броя на участващите частици в един експеримент. И не само.
    </p>
</div>
</body>
</html>