@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#global-grid-container {
    background: #031226;

    display: grid;

    grid-template-columns: 20% 80%;
    grid-template-rows: 95vh;

    grid-template-areas: "menu main";

    height: 100%;
}

nav{
    padding: 20px;

    position: sticky;
    top: 20px;

    grid-area: menu;

    object-fit: cover;

    overflow: hidden;
    overflow-x: hidden;

    height: 700px;
}

iframe {
    object-fit: cover;
    overflow: hidden;

    border: black;
    border-radius: 40px;

    width: 100%;
    height: 98%;
}

img {
    border-radius: 30px;
    max-height: 95%;
}

#content{
    display: inline-block;
    position: relative;

    left: 5%;

    transition: left 1s;

    color: white;

    font-family: 'Source Sans Pro', sans-serif;

    font-size: medium;

    -webkit-box-sizing: border-box; /* Safari, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    grid-area: main;

    width: 70%;
}

iframe:hover + #content{
    left: 20%;

    transition: left .5s;
}

input {
    border-radius: 10px;
    padding: 10px;
}

#upload-btn {
    padding: 20px;
    background-color: yellow;
    color: black;
    font-weight: 400;
    font-size: 15pt;
    border-color: white;
    border-radius: 20px;
    margin: 20px;
}

th {
    padding: 20px;
    background-color: #072b73;
    border-radius: 10px;
}

td {
    padding: 15px;
    background-color: revert;
    border-radius: 10px;
    margin: 10px;
}

table {
    padding: 20px;
}

button {
    background: transparent;
    border: transparent;
    border-radius: 10px;

    font-size: 20pt;
}

#img-1 {
    grid-area: img1;
}

#img-2 {
    grid-area: img2;
}

#img-3 {
    grid-area: img3;
}

#img-4 {
    grid-area: img4;
}

#img-5 {
    grid-area: img5;
}

.img-grid {
    width: 100%;

    object-fit: cover;
}

#img-grid-container {
    display: grid;

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;

    grid-gap: 40px;

    grid-template-areas: "img5 img1 img2" "img5 img3 img4";
}

h1 {
    text-align: center;

    font-size: 40px;
}

p {
    font-size: 20px;

    text-align: justify;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #072b73;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellow;
}