body{
    background: #031226;
}

iframe{
    position: absolute;
    display: block;
    width: 15%;
    height: 98%;

    transition: width 1s;

    border: black;
    border-radius: 40px;
}

iframe:hover{
    width: 120%;

    transition: width .5s;
}

iframe:hover body{
    grid-template-columns: 40% 60%;
}


#content{
    display: inline-block;
    position: relative;

    left: 17%;

    transition: left 1s;

    color: white;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;

    -webkit-box-sizing: border-box; /* Safari, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    grid-area: main;

    width: 70%;
}

iframe:hover + #content{
    left: 32%;

    transition: left .5s;
}

#gradient {
    background-image: linear-gradient(black, #330000);

    border-radius: 40px;
}

input {
    border-radius: 10px;
    padding: 10px;
}

#upload-btn {
    padding: 20px;
    background-color: #205459;
    color: white;
    font-weight: 400;
    font-size: 15pt;
    border-color: white;
    border-radius: 20px;
    margin: 20px;
}

th {
    padding: 20px;
    background-color: #072b73;
    border-radius: 10px;
}

td {
    padding: 15px;
    background-color: #205459;
    border-radius: 10px;
    margin: 10px;
}

table {
    padding: 20px;
}

button {
    background: #205459;
    border: #205459;
    border-radius: 10px;

    font-size: 20pt;
}

#img-1 {
    grid-area: img1;
}

#img-2 {
    grid-area: img2;
}

#img-3 {
    grid-area: img3;
}

#img-4 {
    grid-area: img4;
}

#img-5 {
    grid-area: img5;
}

.img-grid {
    width: 100%;

    object-fit: cover;
}

#img-grid-container {
    display: grid;

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;

    grid-gap: 40px;

    grid-template-areas: "img5 img1 img2" "img5 img3 img4";
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

iframe {
    position: sticky;
    top: 0px;

    width: 100%;

    grid-area: menu;
}

body {
    display: grid;

    grid-template-columns: 20% 80%;
    grid-template-rows: auto;

    grid-template-areas: "menu main";
}