@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-color: black;

    overflow: hidden;
}

nav{
    display: inline;
}

a {
    text-decoration: none;

    color: white;

    transition: 0.5s;
}

li{
    display: block;
    padding: 20px;
    width: 100%;

    background-color: black;
    color:white;

    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14pt;

    text-decoration: none;

    transition: width 2s, background-color 2s;
}

li:hover{
    background-color: #031226;
    color: white;
    
    width: 120%;

    padding: 20px;

    transition: width .5s, background-color .5s;
}

#a{
    display: none;
    visibility: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    height: 10px;

    transition: 2s;
}

#a:hover{
    color: darkblue;
    height: 120px;

    transition: .5s;
}


li:hover #a{
    position: relative;
    display: inline-block;
    visibility: visible;
    width: 120%;

    background-color: #072b73;
}

#a li{
    color: white;

    width: 120%;
    padding: 0px;

    font-size: 12pt;

    position: relative;
    display: inline-block;
    white-space: nowrap;

    text-decoration: none;

    transition: 0.5s;
}

#a li:hover{
    background-color: yellow;
    padding: 20px;

    text-decoration: none;

    color: black;

    transition: 0.5s;
}

.link:hover {
    color: black;

    transition: 0.5s;
}

#logo{
    display: block;
    background-color: black;
    border-radius: 40px;
}

#img-logo{
    display: block;
}